In [2]:
import os
import pandas
from sqlalchemy import create_engine
import getpass

In [3]:
passwd

'YOURPASSWORD'

In [4]:
passwd=getpass.getpass("enter db pass")

In [5]:
db_string ='dbstocks.cslin35wcm7x.us-east-2.rds.amazonaws.com'

In [6]:
engine = create_engine(f'postgresql://postgres:{passwd}@{db_string}:5432/stocks')

In [7]:
sql_query = 'select * from aapl'

In [8]:
df = pandas.read_sql(sql_query, engine)

In [9]:
df

         date   aapl
0  2021-10-05   90.0
1  2021-10-05  100.0